$background_color:#FFE0BC;
$color_blocks:#F2F8FD;
$font_color:#d2d2d3;
$button_black:#000;
$main_font: 'Fira Sans', sans-serif;
$title_font: 'Russo One', sans-serif;

body{
    margin: 0 auto;
    max-width:1500px;
    background-color:$background_color;
}